<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Add Customer</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Tech Titans</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Customer Form</h1>

        <form th:action="@{/customer/saveCustomer}" th:object="${customer}" method="post">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="Enter first name"/>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Enter last name"/>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter email"/>
            </div>

            <div class="form-group">
                <label for="adr">Address:</label>
                <input type="text" class="form-control" id="adr" th:field="*{adr}" placeholder="Enter address"/>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>

    </div>

</main>

<!-- Bootstrap core JS -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>
